  "{序号}":
    chapter: 垃圾分类大冒险
    story: |-
      @lastone> {题目}
      > 
      > 答题进度: `@validrounds`/@totalrounds
      选项: 
      A.  📎  {A}
      B.  🍉  {B}
      C.  🔋  {C}
      D.  ♻  {D}
      @sender，请@bot，输入A/B/C/D作答吧！
    choices:
      - keywords: [{正确选项}]
        description: ""
        action: [gotox, incr, calc, calc, calc, calc]
        param:
          [
            "qaseq[rounds%{n}]",
            "validrounds",
            "details+='✅{题目}答案是`{正确答案}`\\n\\n'",
            "score+(100/totalrounds)",
            "grams+500",
            "lastone='上一题`回答正确`✅\\n\\n'",
          ]
      - keywords: [{错误选项}]
        description: ""
        action: [gotox, incr, calc, calc]
        param:
          [
            "qaseq[rounds%{n}]",
            "validrounds",
            "details+='❌{题目}答案是`{正确答案}`\\n\\n'",
            "lastone='上一题纠错🙅: 应该是`{正确答案}`\\n\\n'",
          ]
      - keywords: [继续, 下一步, continue, next, jixu]
        description: ""
        action: gotox
        param: "qaseq[rounds%{n}]"