title: 00后入学考试
variables:
  [rounds, validrounds, totalrounds, grams, score, details, used1, lastone]
constants:
  remark: 备注
stages:
  "1.1":
    chapter: 规则讲解
    story: |-
      > 欢迎来到`@title`✍️！  
      > 游戏规则：通过点击题目中的选项🔗，完成考试。整个考题包括 `5` 道题，以趣味题目为主，题库随机。  
      @sender，请点击“开始” 进入答题环节吧～  
      [开始](bot://replymsg?func=at&param=%e5%bc%80%e5%a7%8b)
    choices:
      - keywords: [开始, 准备, 继续, ready, zhunbei, zb, jixu, next, go]
        description: ""
        action: [gotox, calc, calc, calc, calc, calc, calc, calc]
        param:
          [
            "Math.round(Math.random() * ({n} - 1) + 1)",
            "totalrounds?5:5",
            "validrounds?1:1",
            "grams?0:0",
            "score?0:0",
            "details?'':''",
            "used1?0:0",
            "lastone?'':''",
          ]
  "1.2":
    chapter: 交卷吗
    story: |-
      > 长路漫漫，犹可期许，是时候检验成果啦  
      > 你已经答完`@totalrounds`道小题，本群的小伙伴们，辛苦啦💦  
      @sender，请点击“交卷”查看本群分数:  
      [交卷](bot://replymsg?func=at&param=%e4%ba%a4%e5%8d%b7)
    choices:
      - keywords: [交卷, 继续, jixu, next, go, commit, push, jiaojuan]
        description: ""
        action: goto
        param: 1.X
  "1.A":
    chapter: 放榜啦
    story: |-
      > 太棒了🎉，你竟然拿了`@score`分  
      > 你就是00后的代言人 👍  
      满分之路💯:  
      @details  
      @sender，请点击“重置”来重新挑战吧🌝  
      [重置](bot://replymsg?func=at&param=%e9%87%8d%e7%bd%ae)
    choices: {}
  "1.B":
    chapter: 放榜啦
    story: |-
      > 还不错😄，你的分数是`@score`分  
      > 再接再厉，争取成为更硬核的 00后 🎮  
      错题本儿📜:  
      @details  
      @sender，请点击“重置”来重新挑战吧🌝  
      [重置](bot://replymsg?func=at&param=%e9%87%8d%e7%bd%ae)
    choices: {}
  "1.C":
    chapter: 放榜啦
    story: |-
      > emmmmm，你的得分是`@score`分  
      > 可能二次元并不适合你，不如玩玩其它的 bot 吧😵  
      错题本儿📙:  
      @details  
      @sender，请点击“重置”来重新挑战吧🌝  
      [重置](bot://replymsg?func=at&param=%e9%87%8d%e7%bd%ae)
    choices: {}
{quiz}
dynamics:
  - conditions:
      chapter: "*"
      expression: validrounds > totalrounds && used1 == 0 && score >= 99
    action: [goto, incr]
    param:
      [
        "1.A",
        "used1",
      ]
  - conditions:
      chapter: "*"
      expression: validrounds > totalrounds && used1 == 0 && score > 40 && score < 99
    action: [goto, incr]
    param:
      [
        "1.B",
        "used1",
      ]
  - conditions:
      chapter: "*"
      expression: validrounds > totalrounds && used1 == 0 && score <= 40
    action: [goto, incr]
    param:
      [
        "1.C",
        "used1",
      ]
defaults:
  - conditions:
      chapter: "*"
      keywords: [reset, start, 重置, 重新开始, 重新]
    action: reset
    description: "重置章节"
  - conditions:
      chapter: "1.*"
      keywords: []
    action: none
    description: |-
      > 欢迎来到`@title`！  
      > 游戏规则：通过点击题目中的选项🔗，完成考试。整个考题包括 `5` 道题，以二次元题目为主，题库随机。  
      @sender，请点击“开始”进入答题环节吧～  
      [开始](bot://replymsg?func=at&param=%e5%bc%80%e5%a7%8b)
  - conditions:
      chapter: "*"
      keywords: []
    action: none
    description: |-
      > 本轮游戏进行中～  
      @sender，请点击“继续答题”完成游戏吧～  
      [继续答题](bot://replymsg?func=at&param=%20)